/*Codigo de Pais */
select {
    margin-right: 10px;
    padding: 0px 30px;
    font-size: 14px !important;
    font-weight: 500;
    color: #4D4D4D;
    border: none;
    border-radius: 0px;
    outline: none
  }

  
