.header-container{
    display: flex;
    min-height: 75px;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 20px; /* Espaciado dentro del encabezado */
    align-items: center;
    border-bottom: 2px solid #B4B4B4;
}