<app-background></app-background>
<div class="verify-card">
  <app-logo src="assets/logo.svg" alt="Logo" [customClass]="'custom-logo-class'"></app-logo>
    
    <div class="verify-container">
      <h2>Verifica tu cuenta</h2>
      <form (ngSubmit)="onSubmit()">
        <app-input
        [(ngModel)]="verificationCode"
        name="verificationCode"
        [placeholder]="'Introduce el código'"
        [label]="'Ingresar código de validación'"
        [type]="'text'"
        [isInvalid]="!isFormValid() && verificationTouched"
        [touched]="verificationTouched"
        [errorMessage]="'El código debe ser numérico y de 6 dígitos.'"
        (input)="validateInput($event)"
        (ngModelChange)="onInputChange()" 
        (blur)="verificationTouched = true"
        required
      ></app-input>

    
    <app-button type="submit" [btnClass]="'btn-primary ' + (isFormValid() ? 'btn-valid' : '')" [label]="'Verificar'"
    [disabled]="!isFormValid()" (click)="onSubmit()"></app-button>
        </form>
    
      <p class="resend-text">
        ¿No recibiste el código? <a  (click)="onResendCode()">Reenviar</a>
      </p>
    
      <p class="terms-text">
        Al continuar, aceptas nuestros <a href="/terms">Términos de Servicio</a> y reconoces que has leído nuestra <a href="/privacy-policy">Política de Privacidad</a> para saber cómo recopilamos, usamos y compartimos tus datos, y nuestra <a href="/cookie-policy">Política de Cookies</a> para saber cómo usamos las cookies.
      </p>
    </div>
  </div>
  