/* Contenedor */
.login-card {
    width: 30%;
    height: 90%;
    margin: 0 auto;
    padding: 20px 70px;
    background-color: #FFFFFF;
    border-radius: 0 0 8px 8px;
    box-shadow: 20px 20px 20px rgba(211, 2, 67, 1);
    position: relative;
    z-index: 1; /* Coloca el contenido del login sobre el fondo */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Esto asegura que los elementos se distribuyan con espacio entre ellos */

    
}


/* Contenedor de Formulario */
.form-container {
    flex: 1; /* Esto permite que el formulario ocupe el espacio disponible */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Opcional: centra el formulario verticalmente */
  }


/* Contenedor de Google y Registro */
.google-and-register-container {
    margin-top: auto; /* Empuja el contenedor hacia abajo */
    text-align: center; /* Opcional: alinea el texto y botones al centro */
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }

/* Register text */
.register-text {
    text-align: center;
    color: #000;
    font-size: 16;
    font-weight: 500;
    margin: 0;
}

.register-text a {
    color: #ff6b6b;
    text-decoration: none;
}

.register-text a:hover {
    text-decoration: underline;
}

  /* Background */
  app-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Coloca el fondo detrás */
  }
  
 
  