/* Contenedor principal */
.video-section {
  display: flex;
  justify-content: center;
  gap: 50px; /* AQUI ESTA EL ESPACIO DE VIDEO */
  height: 100%;
}

/* Contenedor de detalles */
.details-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Contenedor de comentarios */
.comments-container {
  display: flex;
  flex-direction: column; /* Le permite crecer para ocupar el espacio restante */
  height: 600px; /* Define la altura máxima para el contenedor de comentarios */
  overflow-y: auto; /* Activa el desplazamiento vertical si el contenido supera el max-height */
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.comments-view {
  display: flex;
  flex-grow: 1; /* Ocupa el espacio restante en la parte superior */
  overflow-y: auto; /* Activa el desplazamiento si hay muchos comentarios */
  margin-bottom: 10px; /* Espacio entre los comentarios y el input */
  flex-direction: column; /* Alinea el contenido en columna */
  justify-content: flex-start; /* Alinea el contenido desde la parte superior */
  height: 100%; /* Ocupa el 100% de la altura del contenedor padre */
}


app-comment-input {
  flex-shrink: 0; /* Evita que el input cambie de tamaño */
  background-color: #ffffff;
  border-top: 1px solid #ddd;
}

app-video-actions{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

/* Simulacion de componente video */

.video-section video {
  width: 400px; /* Ancho de video similar al de TikTok */
  height: 700px; /* Alto de video similar al de TikTok */
  border-radius: 10px; /* Bordes redondeados para darle un estilo */
  object-fit: cover; /* Recorta para ajustar al contenedor */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5); /* Sombra para resaltar el video */
}

  
  .video-section p {
    margin: 10px 0;
    font-size: 16px;
    color: #333;
  }
  
  /* Simulacion de acciones */

  .actions {
    display: flex;
    gap: 10px;
  }
  
  .like-button,
  .comment-button {
    padding: 10px 20px;
    background-color: #ff5a5f;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .like-button:hover,
  .comment-button:hover {
    background-color: #e0474e;
  }

